﻿@{
    ViewData["Title"] = "Home Page";
}

<h4>Import CSV or XML file</h4>
<form asp-action="ImportFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><input type="submit" value="Upload" />
</form>


@if (ViewData["Status"].ToString() != "0")
    {
    <p>Status: </p>
    <h4>@ViewData["Status"]</h4>

    if (ViewBag.Logs.Count > 0)
        {
        <p>Logs: </p>
        foreach (var log in ViewBag.Logs)
            {
            <h4>@log</h4>
            }
        }
    }


